[submodule "cldr-core"]
	path = cldr-core
	url = https://github.com/unicode-cldr/cldr-core
[submodule "cldr-numbers-full"]
	path = cldr-numbers-full
	url = https://github.com/unicode-cldr/cldr-numbers-full
